
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Average&family=Unna&display=swap" rel="stylesheet">

<nav id="navbar">
    <ul>
      <li class="navitems"><a href ="/">Home</a></li>
      <li class="navitems"><a href ="/allusers">All Users</a></li>
      <li class="navitems"><a href ="/transfer">All Transactions</a></li>
      

    </ul>
  </nav>